.ht-100{
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ht-100-real{
    height: 100vh;
}

.border-funny{
    border-radius:  0 0 23px 0;
}

.img-slide{
    width: 33.3333%; 
    margin-left: 0px;
}

/* styles.css */

.site-name {
    opacity: 0;
    animation: fadeInRight 1.5s ease-out forwards; /* Animation name, duration, easing, and forwards fill mode */
    animation-iteration-count: infinite;
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  